
# 12 MHz clock
set_io -nowarn CLK        35
set_frequency CLK 12

# RS232
set_io -nowarn RX          6
set_io -nowarn TX          4

# LEDs and Button
set_io -nowarn BTN_N      18
set_io -nowarn LEDR_N     40
set_io -nowarn LEDG_N     41
# set_io -nowarn LEDB     39 # is not used in these examples

# RGB LED Driver
set_io -nowarn LED_RED_N  40
set_io -nowarn LED_GRN_N  41
set_io -nowarn LED_BLU_N  39
set_io -nowarn LED_RGB[0] 40
set_io -nowarn LED_RGB[1] 41
set_io -nowarn LED_RGB[2] 39

# SPI Flash
set_io -nowarn FLASH_SCK  15
set_io -nowarn FLASH_SSB  16
set_io -nowarn FLASH_IO0  17
set_io -nowarn FLASH_IO1  14
set_io -nowarn FLASH_IO2  12
set_io -nowarn FLASH_IO3  13

# PMOD 1A
set_io -nowarn P1A1       46
set_io -nowarn P1A2       44
set_io -nowarn P1A3       42
set_io -nowarn P1A4       37
set_io -nowarn P1A7       45
set_io -nowarn P1A8       43
set_io -nowarn P1A9       38
set_io -nowarn P1A10      36

# PMOD 1B
set_io -nowarn P1B1       34
set_io -nowarn P1B2       31
set_io -nowarn P1B3       27
set_io -nowarn P1B4       25
set_io -nowarn P1B7       32
set_io -nowarn P1B8       28
set_io -nowarn P1B9       26
set_io -nowarn P1B10      23

# PMOD 2
set_io -nowarn P2_1       10
set_io -nowarn P2_2        6
set_io -nowarn P2_3        3
set_io -nowarn P2_4       48
set_io -nowarn P2_7        9
set_io -nowarn P2_8        4
set_io -nowarn P2_9        2
set_io -nowarn P2_10      47

# LEDs and Buttons (PMOD 2) # note: just copied from the icesugar.pcf and changed according to PMOD 2 pinout...
set_io -nowarn LED1        9
set_io -nowarn LED2       10
set_io -nowarn LED3        6
set_io -nowarn LED4        4
set_io -nowarn LED5        3
set_io -nowarn BTN1        2
set_io -nowarn BTN2       48
set_io -nowarn BTN3       47
